
//==========  Imports  ==========//

// Import Tailwind preflight
@tailwind preflight;


// Import our global variables and any base styles
// @import '/global/';
@import '/base/skeleton.scss';

a {
    @apply text-indigo-dark no-underline;
}

.inner {
    max-width: 1400px;
    @apply mx-auto my-0 px-6;
}

.main {
    @apply py-12;
}

h1,
p {
    @apply mb-8;
}

p {
    line-height: 1.7;
}

// Import Tailwind components
@tailwind components;


// Import our custom styles
// @import '/utilities/';
// @import '/components/';


// Import Tailwind utilities
// TailwindCSS recommends leaving utilities till last to ensure they aren't overwritten.
@tailwind utilities;
