<template>
    <div class="footer-wrapper">
        <footer id="footer" class="footer bg-grey-lightest border-t border-grey-light">
            <div class="footer-inner inner flex justify-between py-10">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, veritatis.</p>
                <ul class="social-icons list-reset flex">
                    <li v-for="(url, name) in $config.socials" :class="name" class="has-icon mx-1"><a class="icon-link" :href="url" :arial-label="name" target="_blank" rel="noopener">{{ name }}</a><svg class="icon fill-current p-2" :class="`icon-${name}`" :alt="name">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" :xlink:href="`/images/icons/icon-library.svg#icon-${name}`"></use>
					</svg></li>
                </ul>
            </div>
        </footer>
    </div>
</template>
