<template>
	<header id="header" class="header flex justify-between p-6">
		<nuxt-link to="/" class="company-logo-link"><img src="/images/logo/logo.svg" :alt="`${$config.site.name}`" title="Back to home" class="block w-32"></nuxt-link>
		<nav id="nav" class="nav">
			<ul class="list-reset flex">
				<li class="mr-4"><nuxt-link to="/">Home</nuxt-link></li>
				<li class="mr-4"><nuxt-link to="/about">About</nuxt-link></li>
				<li class="mr-8"><nuxt-link to="/contact">Contact</nuxt-link></li>
				<li class="mr-3"><a :href="`mailto:${$config.site.email}`">Send a message</a></li>
				<li><a :href="`tel:${$config.site.phone}`">{{ $config.site.phone }}</a></li>
			</ul>
		</nav>
	</header>
</template>



