
//==========  Skeleton base styles  ==========//

html,
body {
	@apply min-h-full;
}

html {
	box-sizing: border-box;
	@apply antialiased;
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-display: swap;
	src: url('/fonts/ibm-plex-sans-regular.woff2') format('woff2');
	// url('path/filename.woff') format('woff');
}

body {
	@apply font-sans font-normal text-base leading-normal overflow-x-hidden;

    // @apply text-color-text font-sans font-normal text-base leading-normal overflow-x-hidden;

	// padding for mobile nav bar
	// padding-bottom: $nav-height;

	// remove padding on desktop nav breakpoint
	// @screen tablet {
	// 	@apply pb-0;
	// }
}


// highlight
::selection {
	// @apply text-white bg-color-primary;
}

// site wrapper
// flexed so our footer remains at the bottom
.wrapper {
	@apply flex flex-col relative min-h-screen;
}
