<template>
  <div class="wrapper">
		<Header/>
		<Hero/>
		<nuxt/>
		<Footer/>
  </div>
</template>

<script>
	import Header from '@/components/layout/Header';
	import Hero from '@/components/layout/Hero';
	import Footer from '@/components/layout/Footer';

	export default {
		head() {
			let canonical = `https://nuxt-skeleton.netlify.com${this.$route.path}`
			let link = [
				{ rel: 'canonical', href: canonical }
			]
			let section = this.$route.name === 'index' ? 'home' : `${this.$route.name}`
			return {
				link,
				bodyAttrs: {
					id: section,
					class: 'section-' + section
				}
			}
		},
		components: {
			Header,
			Hero,
			Footer
		}
	}
</script>






