<template>
    <main class="main inner">
        <section id="container-centre" class="column centre">
            <h1 class="page-title">About Us</h1>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt facilis nisi corporis eius molestiae voluptate doloremque enim quis deserunt nam ipsam dicta, porro, beatae quam, sed quisquam eligendi impedit? Quibusdam possimus autem aliquam pariatur nam soluta voluptatem dolorum iure ab corrupti voluptatibus est cumque, placeat at inventore aliquid.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt facilis nisi corporis eius molestiae voluptate doloremque enim quis deserunt nam ipsam dicta, porro, beatae quam, sed quisquam eligendi impedit? Quibusdam possimus autem aliquam pariatur nam soluta voluptatem dolorum iure ab corrupti voluptatibus est cumque, placeat at inventore aliquid, nemo ratione blanditiis eligendi laboriosam eaque impedit quo! Cupiditate qui modi sapiente earum officia, eius possimus libero doloremque neque dignissimos omnis magnam sequi nihil, praesentium voluptates? Maxime, reiciendis? Obcaecati optio maxime vel, nesciunt, a veritatis alias magni eius error natus incidunt consectetur recusandae facilis enim beatae! Obcaecati ex ipsum, deserunt veniam magnam impedit libero, ullam, quibusdam temporibus reprehenderit fugiat nostrum. Assumenda dolorum dolores ea veritatis ex voluptatum iusto quis molestias quaerat, odit autem amet officia nobis laboriosam. Sunt possimus vero aliquam ipsam corrupti expedita optio, libero distinctio exercitationem consequuntur explicabo nihil nemo quasi qui.</p>
            </div>
        </section>
    </main>
</template>

<script>
    export default {
        head() {
            return {
                titleTemplate: 'About | %s',
                meta: [
                    { hid: 'description', name: 'description', content: 'About page description' }
                ]
            }
        }
    }
</script>
